.timeBtn {
    padding: 3px 3px;
    margin : 10px 5px;
    border: 1px solid rgb(182, 178, 178);
    border-radius: 3px;
    transition: 0.3s ease;
    
  }
  
  .timeBtn:hover{
    background-color: white;
    color: black;
  }